.logo-img {
    width: 10%;
    margin: 20px;
}

body {
    text-align: center;
}

ul {
    list-style: none;
}

.todos-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    position: relative;
}

li {
    text-align: left;
    padding: 15px;
    background-color: #001533;
    border: 1px solid #fff;
}

.list li.done label {
    color: gray;
    text-decoration: line-through;
}

.list li:hover>button {
    visibility: visible;
}

.list label {
    padding-right: 120px;
    display: inline-block;
    width: 70%;
    font-size: 18px;
    color: #fff;
}

.delete {
    cursor: pointer;
}